$mediaSizeDesktop: 1200px;
$mediaSizeLaptop: 1000px;
$mediaSizeTablet: 800px;
$mediaSizeMobile: 420px;

$containerWidth: 1200px;
$headerPadding: 18px;

$textColor: #1f2041;
$textColor75: rgba($textColor, 0.75);
$textColor50: rgba($textColor, 0.5);
$textColor25: rgba($textColor, 0.25);
$textColor10: rgba($textColor, 0.1);
$textColor05: rgba($textColor, 0.05);

$primaryColor: #bc9cff;
$secondaryColor: #6fcf97;
$complementaryColor: #66d2ea;
$errorColor: #ffa07a;
$warningColor: #ffd89b;

$primaryShadow: 0 10px 20px $textColor05;
$cardShadow: 0 0 25px $textColor25;

$primaryGradient: linear-gradient(to top, #8ba4f9, $primaryColor);
$primaryGradientTranslucent: linear-gradient(to top, rgba(#8ba4f9, 0.5), rgba($primaryColor, 0.5));
$primaryGradientTranslucent25: linear-gradient(
  to top,
  rgba(#8ba4f9, 0.25),
  rgba($primaryColor, 0.25)
);
$secondaryGradient: linear-gradient(to top, $complementaryColor, $secondaryColor);

$primaryFont: 'Montserrat', 'Arial', 'sans-serif';

@mixin font-face($font-family, $font-path, $font-postfix, $font-weight, $font-style) {
  @font-face {
    font-weight: $font-weight;
    font-family: $font-family;
    font-style: $font-style;
    src: local('#{$font-family} #{$font-postfix}'), local('#{$font-family}-#{$font-postfix}'),
      url('#{$font-path}.woff2') format('woff2'), url('#{$font-path}.woff') format('woff');
  }
}

@mixin container() {
  width: 100%;
  max-width: $containerWidth;
  margin: 0 auto;
  padding: 0 20px;
}

@mixin h1() {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 24px;
  font-family: $primaryFont;
  line-height: 29.6px;
  letter-spacing: 0;
}

@mixin h2() {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 20px;
  font-family: $primaryFont;
  letter-spacing: -0.6px;
}

@mixin h3() {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 12px;
  font-family: $primaryFont;
  letter-spacing: 0;
  text-transform: uppercase;
}

@mixin paragraph() {
  margin-top: 0;
  margin-bottom: 0;
  color: $textColor75;
}

@mixin link() {
  color: inherit;
  text-decoration: none;
}

@mixin input {
  width: 100%;
  padding: 13px;
  color: $textColor75;
  font-size: 14px;
  font-family: $primaryFont;
  text-overflow: ellipsis;
  border: 1px solid $textColor25;
  border-radius: 5px;
  outline: none;
  cursor: pointer;

  &::placeholder {
    color: $textColor25;
  }

  &:hover,
  &:focus {
    border-color: $textColor50;
  }

  &:hover,
  &:focus-within {
    &::placeholder {
      color: $textColor75;
    }
  }
}

@mixin text-gradient-fill($color) {
  color: transparent;
  background: $color;
  background-clip: text;
}
