$mediaSizeDesktop: 1200px;
$mediaSizeLaptop: 1000px;
$mediaSizeTablet: 800px;
$mediaSizeMobile: 420px;

$primaryColor: #bc9cff;
$secondaryColor: #6fcf97;
$complementaryColor: #66d2ea;
$errorColor: #ffa07a;
$warningColor: #ffd89b;

$primaryFont: 'Roboto', 'Arial', 'sans-serif';
